<mat-sidenav-container>
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary" class="navbar-basic">
      <span [routerLink]="['/home']">
        <button mat-button>FON</button>
      </span>
      <span *ngIf="!isAdminLoggedIn" [routerLink]="['/admin-login']">
        <button mat-stroked-button>Prijava</button>
      </span>
      <span *ngIf="isAdminLoggedIn" [routerLink]="['/admin-logout']">
        <button mat-stroked-button>Odjava</button>
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
